.promo_image
{
    
}

body
{
    background-color: black;
    display: block;
}

.embeds {
    display: flex;
    justify-content: center;
    border: 5%;
  }


img{
    width: 100%;
    height: auto;

}